~~~ css
.ii-button{
    display:flex;
    align-items:center;
    justify-content:center;
    min-width:100px;
    height:2.5rem;
    border:1px solid #ffb925;
    border-radius:.5rem;
    background:#ffb925;
    color:#6f6f6f;
    text-decoration:none !important;
    font-size:1.25rem;
    font-family:Lato,sans-serif;
    cursor:pointer;
}

@media (max-width:500px){

    .ii-button{
        width:100%;

    }

}

.ii-button:focus{
    background:#ffb925;
    color:#fff;

}

.ii-button--neutral{
    display:flex;
    align-items:center;
    justify-content:center;
    min-width:100px;
    height:2.5rem;
    border:1px solid #ffb925;
    border-radius:.5rem;
    background:#ffb925;
    color:#6f6f6f;
    text-decoration:none !important;
    font-size:1.25rem;
    font-family:Lato,sans-serif;
    cursor:pointer;
    border:2px solid #d6d6d6;
    border-color:#d6d6d6;
    background:#f5f5f5;
}

@media (max-width:500px){

    .ii-button--neutral{
        width:100%;

    }

}

.ii-button--neutral:focus{
    background:#ffb925;
    color:#fff;

}

.ii-search__button{
  display:flex;
  align-items:center;
  justify-content:center;
  min-width:100px;
  height:2.5rem;
  border:1px solid #ffb925;
  border-radius:.5rem;
  background:#ffb925;
  color:#6f6f6f;
  text-decoration:none !important;
  font-size:1.25rem;
  font-family:Lato,sans-serif;
  cursor:pointer;
  border:2px solid #d6d6d6;
  border-color:#d6d6d6;
  background:#f5f5f5;
  padding:1rem;
  height:inherit;
}

@media (max-width:500px){

    .ii-search__button{
        width:100%;

    }

}

.ii-search__button:focus{
    background:#ffb925;
    color:#fff;

}

.ii-search__button img{
    margin-right:10px;
    width:30px;
    color:red;

}
~~~