~~~ css
.nak-text-title{
    font-weight:700;
    font-size:1.5em;
}
.nak-text-title,.nak-text-title a{
    color:#5c91c0;

}
.nak-page-title{
    font-weight:700;
    font-size:2.5em;
}
.nak-page-title,.nak-page-title a{
    color:#6f6f6f;

}
.nak-section-title{
    color:#5c91c0;
    font-weight:700;
    font-size:2em;
}
.nak-section-title a{
    color:#5c91c0;

}
.nak-heading-1{
  font-size:3rem;
}
.nak-heading-2{
  font-size:2.5rem;
}
.ii-page-title{
      font-weight:700;
      font-size:2.5em;
}
.ii-page-title,.ii-page-title a{
      color:#6f6f6f;

}
.ii-page-title a{
    padding-top:1.25rem;

}
.ii-section-title{
    font-weight:700;
    font-size:2em;
}
.ii-section-title,.ii-section-title a,.ii-text-title{
    color:#5c91c0;
}
.ii-text-title{
    font-weight:700;
    font-size:1.5em;
}
.ii-text-title a{
    color:#5c91c0;

}
~~~