~~~ css
.nak-wizard a{
    color:#b0b0b0;
    text-decoration:none

}
.nak-wizard-list{
    display:flex;
    justify-content:space-between;
}
@media (max-width:800px){
    .nak-wizard-list{
        margin-bottom:1.25rem

    }

}
.nak-wizard-marker{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:-1px;
    width:36px;
    height:36px;
    border-radius:500rem;
    background:var(--pale);
}
.nak-wizard-marker .fa{
    position:absolute;
    color:var(--white);
    font-size:1.2em;

}
.is-active .nak-wizard-marker,.nak-is-active .nak-wizard-marker{
    background:var(--color);

}
.nak-wizard-label{
    display:block;
    margin-bottom:-6px;
}
@media (max-width:800px){
    .nak-wizard-label{
        display:none;
        margin:0

    }

}
.has-wizard form{
    display:none;

}
.has-wizard form.is-active{
    display:block;

}
~~~