[submodule "_includes/nakDS-src"]
	path = _includes/nakDS-src
	url = https://github.com/nabaroa/nakDS-src.git
[submodule "nakDS-core"]
	path = _css/nakDS-core
	url = https://github.com/nabaroa/nakDS-core.git
[submodule "nakDS-custom"]
	path = _css/nakDS-custom
	url = https://github.com/nabaroa/nakDS-custom.git
[submodule "_css/nakDS-custom"]
	path = _css/nakDS-custom
	url = https://github.com/nabaroa/nakDS-custom.git
[submodule "_css/nakDS-core"]
	path = _css/nakDS-core
	url = https://github.com/nabaroa/nakDS-core.git
