~~~ css
/*! ---------------button---------------*/

.nak-button{
    display:flex;
    align-items:center;
    justify-content:center;
    min-width:100px;
    height:2.5rem;
    border:1px solid #d6d41b;
    border-radius:.5rem;
    background:#d6d41b;
    color:#6f6f6f;
    text-decoration:none !important;
    text-transform:inherit;
    font-size:1.25rem;
    font-family:Lato,sans-serif;
    cursor:pointer;
}

@media (max-width:500px){

    .nak-button{
        width:100%;
    }
}

.nak-button:focus{
    background:#d6d41b;
    color:#fff;
}

.nak-button--neutral{
    display:flex;
    align-items:center;
    justify-content:center;
    min-width:100px;
    height:2.5rem;
    border:1px solid #d6d41b;
    border-radius:.5rem;
    background:#d6d41b;
    text-decoration:none !important;
    text-transform:inherit;
    font-size:1.25rem;
    font-family:Lato,sans-serif;
    cursor:pointer;

    background:#e5e5e5;
    color:#6f6f6f;
}

@media (max-width:500px){

    .nak-button--neutral{
        width:100%;
    }
}

.nak-button--neutral:focus{
    background:#d6d41b;
    color:#fff;
}

/*!*/
~~~