~~~ css
.nak-tab-list{
    display:flex;
}
.nak-tab-item+.nak-tab-item:hover{
    box-shadow:-1px 0 0 #b0b0b0;
}
.nak-tab-link{
    display:flex;
    align-items:center;
    justify-content:center;
    width:150px;
    height:40px;
    color:#b0b0b0;
    text-decoration:none;
    font-size:18px;
}
.nak-is-active .nak-tab-link,.nak-tab-link:hover{
    background:#ebebeb;
    box-shadow:0 -3px 0 #d6d41b;
    color:#6f6f6f;
    text-decoration:none;
}
~~~