  <div class="nak-grid--wrapped nak-has-col--2 nak-grid--has-v-space>" 
  <span>--none:</span><span class="nak-box" style="height:0;"></span>
  <span>--xxx-small:</span><span class="nak-box" style="height:0.125rem;"></span>
  <span>--xx-small:</span><span class="nak-box" style="height:0.25rem;"></span>
  <span>--x-small:</span><span class="nak-box" style="height:0.5rem;"></span>
  <span>--small:</span><span class="nak-box" style="height:0.75rem;"></span>
  <span>--medium:</span><span class="nak-box" style="height:1rem;"></span>
  <span>--large:</span><span class="nak-box" style="height:1.25rem;"></span>
  <span>--x-large:</span><span class="nak-box" style="height:1.5rem;"></span>
  <span>--xx-large:</span><span class="nak-box" style="height:1.75rem;"></span>
  <span>--xxx-large:</span><span class="nak-box" style="height:2rem;"></span>
  <span>--xxxx-large:</span><span class="nak-box" style="height:3rem;"></span>
  </div>
