  <dl>
    <dt>--font-size--x-small:</dt><dd style="font-size:0.5rem;">She stared through the window at the stars.</dd>
    <dt>--font-size--small:</dt><dd style="font-size:0.75rem;">She stared through the window at the stars.</dd>
    <dt>--font-size--medium:</dt><dd style="font-size:1rem;">She stared through the window at the stars.</dd>
    <dt>--font-size--large:</dt><dd style="font-size:1.25rem;">She stared through the window at the stars.</dd>
    <dt>--font-size--x-large:</dt><dd style="font-size:1.5rem;">She stared through the window at the stars.</dd>
    <dt>--font-size--xx-large:</dt><dd style="font-size:1.75rem;">She stared through the window at the stars.</dd>
    <dt>--font-size--xxx-large:</dt><dd style="font-size:2rem;">She stared through the window at the stars.</dd>
    <dt>--font-size--xxxx-large:</dt><dd style="font-size:3rem;">She stared through the window at the stars.</dd>
  </dl>
