~~~ css
:root{

    /*!2px;*/

    /*!4px*/

    /*!8px*/

    /*!12px*/

    /*!16px*/

    /*!20px*/

    /*!24px*/

    /*!28px*/

    /*!32px*/

    /*!48px*/

  }

/*!---------------sizing tokens---------------*/

/*!---------------Font size tokens---------------*/

.nak-box{
    display:flex;
    padding:.7rem 1.25rem;
    min-width:100px;
    height:2.5rem;
    border:1px solid #eee;
    border-radius:.125rem;
    background:#f5f5f5;
    color:#6f6f6f;
    font-size:1.25rem;
    font-family:Lato,sans-serif;
}

.nak-box--center{
    justify-content:center;
}

.nak-box--center,.nak-box--right{
    display:flex;
    padding:.7rem 1.25rem;
    min-width:100px;
    height:2.5rem;
    border:1px solid #eee;
    border-radius:.125rem;
    background:#f5f5f5;
    color:#6f6f6f;
    font-size:1.25rem;
    font-family:Lato,sans-serif;

    align-items:center;
}

.nak-box--right{
    justify-content:flex-end;
}
~~~