~~~ css
/*! ---------------button---------------*/

:root{/*!2px;*//*!4px*//*!8px*//*!12px*//*!16px*//*!20px*//*!24px*//*!28px*//*!32px*//*!48px*/

  }

/*!---------------sizing tokens---------------*/

/*!---------------Font size tokens---------------*/

.nak-button{
    display:flex;
    align-items:center;
    justify-content:center;
    min-width:100px;
    height:2.5rem;
    border:1px solid #765435;
    border-radius:.5rem;
    background:#765435;
    color:#6f6f6f;
    text-decoration:none !important;
    font-size:1.25rem;
    font-family:Lato,sans-serif;
    cursor:pointer;
}

@media (max-width:500px){

    .nak-button{
        width:100%;

    }

}

.nak-button:focus{
    background:#765435;
    color:#fff;

}

.nak-button--neutral{
    display:flex;
    align-items:center;
    justify-content:center;
    min-width:100px;
    height:2.5rem;
    border:1px solid #765435;
    border-radius:.5rem;
    background:#765435;
    text-decoration:none !important;
    font-size:1.25rem;
    font-family:Lato,sans-serif;
    cursor:pointer;

    background:#e5e5e5;
    color:#6f6f6f;
}

@media (max-width:500px){

    .nak-button--neutral{
        width:100%;

    }

}

.nak-button--neutral:focus{
    background:#765435;
    color:#fff;

}

/*!*/
~~~