~~~ css
:root{
    /*!2px;*/
    /*!4px*/
    /*!8px*/
    /*!12px*/
    /*!16px*/
    /*!20px*/
    /*!24px*/
    /*!28px*/
    /*!32px*/
    /*!48px*/

  }
/*!---------------sizing tokens---------------*/
/*!---------------Font size tokens---------------*/
a{
    color:#d6d41b;
    text-decoration:underline;
    cursor:pointer;
}
a:hover{
    color:#765435;

}
.nak-link--naked,.nak-link--naked:hover,.nak-link--neutral{
    text-decoration:none;
}
.nak-link--neutral{
    color:#6f6f6f;
}
.nak-link--neutral span{
    color:currentColor;

}
.nak-link--neutral:hover{
    text-decoration:none;

}
.nak-link--negative{
    color:#f5f5f5;
}
.nak-link--negative:hover{
    color:#5c91c0;

}
.nak-has-icon{
    display:flex;
    align-items:center;
    justify-content:center;
}
.nak-has-icon [class*=ii-icon]{
    margin-right:5px;
    color:#b0b0b0;

}
.nak-has-icon:hover [class*=ii-icon]{
    color:#6f6f6f;

}
.nak-menu-link--color{
    color:#765435;
}
.nak-menu-link--color,.nak-menu-link--color:hover{
    text-decoration:none;

}
.nak-menu-link--color:hover [class*=ii-icon]{
    color:#5c91c0;

}
.nak-menu-link--color [class*=ii-icon]{
    color:#765435;

}
.icon-position-center{
    display:flex;
    align-items:center;
}
.icon-position-center span{
    margin-left:1rem;
    text-decoration:none;

}
~~~