~~~ css
:root{
    /*!2px;*/
    /*!4px*/
    /*!8px*/
    /*!12px*/
    /*!16px*/
    /*!20px*/
    /*!24px*/
    /*!28px*/
    /*!32px*/
    /*!48px*/

  }
/*!---------------sizing tokens---------------*/
/*!---------------Font size tokens---------------*/
.nak-module--neutral{
    padding:1.25rem;

    border:1px solid #ebebeb;
}
.nak-module--neutral p{
    margin-bottom:1rem;

}
.nak-is-symmetric{
    flex:1;
}
.nak-module__title{
    color:#765435;
    text-transform:inherit;
    font-weight:700;
}
~~~