~~~ css
:root{
    /*!2px;*/
    /*!4px*/
    /*!8px*/
    /*!12px*/
    /*!16px*/
    /*!20px*/
    /*!24px*/
    /*!28px*/
    /*!32px*/
    /*!48px*/

  }
/*!---------------sizing tokens---------------*/
/*!---------------Font size tokens---------------*/
.nak-table--neutral{
    width:100%;
    border:1px solid #ebebeb;
    background:#f5f5f5;
}
.nak-table--neutral th{
    color:#765435;
    font-weight:700;

}
.nak-table--neutral td{
    padding:1rem;
    border:1px solid #ebebeb;

}
.nak-table--neutral td[colspan="3"]{
    background:#ebebeb;

}
~~~